.contactContainer {
  display: flex;
  justify-content: center;
  gap:10px;
  width: 40vw;
}

.iconContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ghTitle {
  @include iconText();
  color: $first-accent-color;
}

.twitterTitle {
  @include iconText();
  color: $dark-first-accent;
}

.instaTitle {
  @include iconText();
  color: $third-accent-color;
}

.emailTitle {
  @include iconText();
  color: $dark-fourth-accent;
  margin-top: 0.2em;
}

.socialMediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20vw;
}

.summaryText {
  text-align: -webkit-center;
}

@media screen and (max-width: 650px) {

    .contactContainer {
        align-items: center;
        flex-direction: column;
      }
}
