@import './variables';
@import './extends';

a {
  text-decoration: none;
  &:visited {
    color: red;
  }
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

button {
  border: none;
}

.buttonContainer {
  margin: 1em;
}

.buttonOne {
  align-items: center;
  background-color: $fifth-accent-color;
  border-radius: 8px;
  color: black;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  margin: 0.3em;
  padding: 0.3em;
  width: 60vw;
  &:hover {
    background-color: black;
    color: white;
  }
}

.buttonTwo {
  background-color: $sixth-accent-color;
  border-radius: 8px;
  color: black;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  margin: 0.3em;
  padding: 0.3em;
  width: 60vw;
  &:hover {
    background-color: black;
    color: white;
  }
}

.devLink {
  background-color: $first-accent-color;
}

.displaySummary {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.linkContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.linkSection {
  align-items: center;
  background-color: $primary-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.mainPageLink {
  @include mainLink();
  &:hover {
    color: white;
    height: 1.5em;
    cursor: pointer;
  }
}

.musicianLink {
  background-color: $second-accent-color;
}

.realHeadshotImg {
  height: 500px;
}
.sewistLink {
  background-color: $fourth-accent-color;
}

.summary, .summaryContainer {
  align-items: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 
       0 0 0 3px $first-accent-color,
       0 0 0 6px $second-accent-color,
       0 0 0 9px $third-accent-color,
       0 0 0 12px $fourth-accent-color,
       0 0 0 15px $fifth-accent-color,
       0 0 0 18px $sixth-accent-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3.2em;
  padding: 1em;
  width: 65vw;
}

.summaryHeader {
  padding: 0.5em;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 3);
}
.vocalLink {
  background-color: $third-accent-color;
}


