@import './variables';
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button {
  border: none;
}

.buttonOne {
  background-color: $fifth-accent-color;
}

.buttonTwo {
  background-color: $sixth-accent-color;
}

.devLink {
  background-color: $first-accent-color;
}

.linkSection {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
.mainLink {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.musicianLink {
  background-color: $second-accent-color;
}

.sewistLink {
  background-color: $fourth-accent-color;
}
.vocalLink {
  background-color: $third-accent-color;
}


