@import './variables';
@import './extends';

a {
  text-decoration: none;
  &:visited {
    color: $second-accent-color;
  }
}

header {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
}

.aboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

button {
  border: none;
}

.buttonContainer {
  margin: 1em;
}

.buttonOne {
  align-items: center;
  background-color: $fifth-accent-color;
  border-radius: 8px;
  color: black;
  display: flex;
  font-size: 1.2em;
  height: 3vh;
  justify-content: center;
  margin: 0.3em;
  padding: 0.3em;
  width: 60vw;
  &:hover {
    background-color: black;
    color: white;
  }
}

.buttonTwo {
  align-items: center;
  background-color: $sixth-accent-color;
  border-radius: 8px;
  color: black;
  display: flex;
  font-size: 1.2em;
  height: 3vh;
  justify-content: center;
  margin: 0.3em;
  padding: 0.3em;
  width: 60vw;
  &:hover {
    background-color: black;
    color: white;
  }
}

.categoryTitleContainer {
  align-items: center;
  display: flex;
  height: 2.5em;
  justify-content: center;
  margin-right: 1.5em;
  width: 100vw;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.displaySummary {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul.linkContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding:0;
  gap:2em;
}

ul.linkContainer li{border-radius:50%}

ul.linkContainer li:first-child{
  background-color: $first-accent-color;
}
ul.linkContainer li:nth-child(2) {
  background-color: $second-accent-color;
}
ul.linkContainer li:nth-child(3) {
  background-color: $third-accent-color;
}
ul.linkContainer li:nth-child(4) {
  background-color: $fourth-accent-color;
}

.linkSection {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.mainPageLink {
  @include mainLink();
}

.realHeadshotImg {
  height: 500px;
}

.summary, .summaryContainer {
  align-items: center;
  background-color: white;
  border-radius: 6px;
  box-shadow:
       0 0 0 3px $first-accent-color,
       0 0 0 6px $second-accent-color,
       0 0 0 9px $third-accent-color,
       0 0 0 12px $fourth-accent-color,
       0 0 0 15px $fifth-accent-color,
       0 0 0 18px $sixth-accent-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3.2em;
  padding: 1em;
  width: 65vw;
}

.summaryHeader {
  padding: 0.5em;
}

.titleContainer {
  align-items: center;
  display: flex;
  height: 200px;
  width:200px;
  justify-content: center;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 3);
}


@media screen and (max-width: 650px) {

  .realHeadshotImg {
    height: 400px;
  }

}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 1em;
  }

  .buttonOne, .buttonTwo {
    font-size: 12px;
  }
  .realHeadshotImg {
    height: 300px;
  }

}
