$main-text-color: black;
$primary-background-color: #E3D1BE;
$secondary-background-color: #D3D3D3;
$heading-text-color: white;
$fourth-accent-color: #A86889;
$first-accent-color: #F29024;
$second-accent-color: #EB6825;
$third-accent-color: #D56261;
$fifth-accent-color: #057196;
$sixth-accent-color: #3C9F88;