$main-text-color: #000;
$primary-background-color: #000;
$heading-text-color: #fff;
$fourth-accent-color: #A86889;
$first-accent-color: #F29024;
$second-accent-color: #EB6825;
$third-accent-color: #D56261;
$fifth-accent-color: #057196;
$sixth-accent-color: #3C9F88;
$dark-first-accent: #f28e2487;
$dark-second-accent: #eb67257c;
$dark-third-accent: #d5636185;
$dark-fourth-accent: #a8688966;
