$main-text-color: #000;
$primary-background-color: #000;
$heading-text-color: #fff;
$fourth-accent-color: #8e45c4;
$first-accent-color: #ef9349;
$second-accent-color: #d23881;
$third-accent-color: #f9e2b4;
$fifth-accent-color: #1479ba;
$sixth-accent-color: #219f86;
$dark-first-accent: #dbc69a;
$dark-second-accent: #f3e4cf;
$dark-third-accent: #282235;
$dark-fourth-accent: #403c49;
