@import './assets/stylesheets/App';
@import './assets/stylesheets/variables';
@import './assets/stylesheets/reset';
@import './assets/stylesheets/extends';
@import './assets/stylesheets/application.scss';

body, html {
    background-color: $primary-background-color;
    background-image: url(./colorStreak.PNG);
    color: $main-text-color;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Cabin', Sans-Serif;
    font-size: 20px;
    padding-bottom: 8em;
    width: 100%;
  }

.buttonHome {
  @include buttonStyle();
  background-color: $light-background;
  border: solid 1px #000;
  cursor: pointer;
}

.buttonOutsideLink {
  @include buttonStyle();
  background-color: $fourth-accent-color;
  cursor: pointer;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: $light-background;
  text-shadow: 3px 3px 5px black;
  font-size: 5em;
  margin: 0;
  padding: 0 20px 0 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: solid 5px #000;
}

h2 {
  margin: 0.1em;
  height: 1.5em;
}

h3 {
  margin: 0.5em;
}

