@import './style/App';
@import './style/variables';
@import './style/reset';
@import './style/extends';
@import './Headshot/Headshot.scss';
@import './Discography/Discography.scss';
@import './Licensing/Licensing.scss';
@import './Portfolio/Portfolio.scss';
@import './DevSummary/DevSummary.scss';
@import './Press/Press.scss';
@import './Twitter/Twitter.scss';
@import './Instagram/Instagram.scss';
@import './Github/Github.scss';
@import './Email/Email.scss';
@import './Footer/Footer.scss';
@import './Arrow/Arrow.scss';
@import './MusicianSummary/MusicianSummary.scss';
@import './BackButton/BackButton.scss';
@import './OutArrow/OutArrow.scss';

body, html {
    background-color: $primary-background-color;
    color: $main-text-color;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 35px;
    font-family: 'Cabin', Sans-Serif;
    font-size: 16px;
    padding-bottom: 8em;
  }

.buttonHome {
  @include buttonStyle();
  background-color: $fifth-accent-color;
  cursor: pointer;
}

.buttonOutsideLink {
  @include buttonStyle();
  background-color: $sixth-accent-color;
  cursor: pointer;
  width: 30vw;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  background-color: $primary-background-color;
  font-size: 45px;
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0.3em;
  position: fixed;
  text-align: center;
  width: 100vw;
}

h2 {
  margin: 0.1em;
  height: 1.5em;
}

h3 {
  margin: 0.1em;
}

