.contactContainer {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

.socialMediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20vw;
}

.summaryText {
    text-align: -webkit-center;
}

@media screen and (max-width: 650px) {
    
    .contactContainer {
        align-items: center;
        flex-direction: column;
      }
}