.contactContainer {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

.socialMediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20vw;
}
