@import './variables';
@import './extends';

a {
  text-decoration: none;
  color: $dark-fifth-accent;
  font-weight:500;
  &:visited {
    color: $dark-fifth-accent;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.aboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

button {
  border: none;
}

.buttonContainer {
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttonOne {
  align-items: center;
  background-color: $sixth-accent-color;
  box-shadow: 10px 5px 5px black;
  border-radius: 25px;
  color: #000;
  display: flex;
  font-size: 1.2em;
  height: 3vh;
  justify-content: center;
  margin: 0.3em;
  padding: 0.3em;
  width: 60vw;
  max-width:700px;
  &:hover {
    background-color: black;
    color: white;
  }
}

.buttonTwo {
  align-items: center;
  background-color: $fourth-accent-color;
  box-shadow: 10px 5px 5px black;
  border-radius: 25px;
  color: #fff;
  display: flex;
  font-size: 1.2em;
  height: 3vh;
  justify-content: center;
  margin: 0.3em;
  padding: 0.3em;
  width: 60vw;
  max-width: 700px;;
  &:hover {
    background-color: black;
    color: white;
  }
}

.categoryTitleContainer {
  align-items: center;
  display: flex;
  height: 2.5em;
  justify-content: center;
  margin-right: 1.5em;
  width: 100vw;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.displaySummary {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linkSection {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.mainPageLink {
  @include mainLink();
}

.realHeadshotImg {
  height: 500px;
}

.summary, .summaryContainer {
  align-items: center;
  background-color: $transparent-background;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 2em;
  box-shadow: 10px 5px 5px black;
}

.summaryHeader {
  padding: 0.5em;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 3);
}


@media screen and (max-width: 650px) {

  .realHeadshotImg {
    height: 400px;
  }

}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 1em;
  }

  .buttonOne, .buttonTwo {
    font-size: 12px;
  }
  .realHeadshotImg {
    height: 300px;
  }

}
